
*.aux

*.bbl

*.blg

*.log

*.out

hlmviz_model_checking.pdf

hlmviz_model_checking.synctex.gz

hlmviz_model_checking.fff

hlmviz_model_checking.lof

hlmviz_model_checking.toc

hlmviz_model_checking.ttt

hlmviz_model_checking.lot

.Rhistory

lineups_data.zip

.DS_Store

R/.Rhistory

*.history

supplement.pdf

supplement.synctex.gz
